  <ion-content class="ion-padding">
    <!--Product List-->
        <br>
        <br>
        <ion-list *ngFor="let item of data">
          <ion-item>
            <ion-thumbnail slot="start">
              <img [src]="item.image" />
            </ion-thumbnail>
            <ion-label>
              <h2>{{ item.price }}</h2>
              <p>Paragraph</p>
            </ion-label>
            <ion-tab-button slot="end" (click)="addToCart(item)">
              <ion-icon name="add"></ion-icon>
              <ion-label>Add to Cart</ion-label>
            </ion-tab-button>

          </ion-item>
        </ion-list>

  </ion-content>
